{{#each comments as |comment|}}
<div class="col-md-4 comments">
    <p>
        <span class="comment-cont">{{comment.cont}}</span>
    </p>
    <p>Posted by {{user.name}} on {{comment.postedOn}}</p>
</div>
{{/each}}