<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap link and CSS Stylesheet link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>TechPosts</title>
</head>

<body>
    <!-- Title for the header -->
    <header>
        <div id="logo">
            <h1>TechPosts</h1>
        </div>
        {{#if logged_in}}
        <nav>
            <a href="/"><button class="btn btn-primary btnn" id="homepage">Homepage</button></a>
            <a href="/dashboard"><button class="btn btn-primary btnn" id="dashboard">Dashboard</button></a>
            <a><button class="btn btn-primary btnn" id="logout">Logout</button></a>
        </nav>
        {{/if}}
    </header>

    <main class="container container-fluid mt-5">
        {{{ body }}}
    </main>

    <!-- All links needed for javascript, bootstrap, etc -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

</body>

</html>