<div class="col-md-6">
    <h2>New Comment</h2>

    <form class="form newcomment-form">
        <div class="form-group">
            <label for="comment-cont">Comment content:</label>
            <input class="form-input" type="text" id="cont" />
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Done!</button>
        </div>
    </form>
</div>

<script src="/js/comments.js"></script>