/* styling for the whoel body */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* styling for the top header, include the radient */
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* Radient colors */
    background-image: radial-gradient(circle, #181823, #537FE7);
    height: 6rem;
}

nav {
    display: flex;
}

#logo {
    display: flex;
    justify-content: center;
}

/* Color and margin for the header text */
h1 {
    color: #E9F8F9;
    margin-top: 0.75rem;
}

/* Styling for the buttons */
.btn {
    width: 100%;
    background-color: #C0EEF2;
    border: #C0EEF2;
    color: black;
}

/* Styling for the posts */
.title {
    width: 100%;
    margin: 0.5rem;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    background-color: #181823;
    color: #E9F8F9;
    border-radius: 1rem;
}

.posts {
    margin: 1rem;
    padding: 1rem;
    justify-content: center;
    background-color: #537FE7;
    color: #E9F8F9;
    border-radius: 1rem;
}

.comments {
    margin: 0.5rem;
    padding: 0.5rem;
    justify-content: center;
    background-color: #C0EEF2;
    color: #181823;
    border-radius: 1rem;
}

